/* styles that relate to channels*/

#user-dashboard {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;

}


#channel-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    width: 100%;
    background-color: #f2f2f2;
    border-bottom: 1px solid black;
    gap: 20px;
}

#creating-channel {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}

#message-editing-content {
    position: absolute;
    width: 50%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
}

#channel-editing {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

#channel-editing-content {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 4;
}

#all-channels-list {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 15%;
    background-color: #f2f2f2;
    border-right: 1px solid black;
    overflow-y: auto;

}

#channel-screen {
    display: none;
    height: 100%;
    width:85%;
}

#channel-info-content {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    overflow-y: auto;
}

#user-info-content {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    overflow-y: auto;
}

#sender-info-content {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    overflow-y: auto;
}

#channel-inviting-content {
    position: absolute;
    width: 50%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    z-index: 2;
    overflow-y: auto;
}

#channel-image-checking-content {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: transparent;
    border: 1px solid black;
    z-index: 2;
    overflow-y: auto;
}

#channel-image-checking-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    gap: 20px;
}

#channel-chatroom {
    height: 70vh;
    overflow-y: auto;
}


.hidden {
    display: none;
}

.message-content {
    background-color: #e6e6e6;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px
}

.message-image {
    max-width: 100px;
    max-height: 100px;
}